<template>
  <div>
    <div class="container">
      <div style="paddingRight: 10px">Name:</div>
      <input class="vertical-center" maxlength="10" type="text" v-model="name">
      <div style="padding-right: 10px; padding-left: 10px;">Message:</div>
      <textarea maxlength="50" rows="5" placeholder="Your tweet message..." v-model="message"/>
      <br><br>
      <input
        type="submit" 
        value="Tweet"
        style="height: fit-content; align-self: center; margin: 10px;"
        @click="create({ name: name, message: message })" 
        :disabled="!name || !message">
    </div>
    <h3>Tweets</h3>
    <p v-if="tweets.length === 0">No Tweets</p>
    <table v-if="tweets.length != 0">
      <tr>
        <th>Name</th>
        <th>Message</th> 
        <th>Created At</th>
      </tr>
      <tr v-for="(tweet, index) in tweets" :key="index">
        <td width="20%"><p v-html="tweet.name"></p></td>
        <td width="50%"><p v-html="tweet.message"></p></td>
        <td width="30%"><p v-html="tweet.created_at"></p></td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: "Tweets",
  data() {
    return {
      name: "",
      message: "",
      created_at: ""
    };
  },
  computed: mapState({
    tweets: state => state.tweets.list
  }),
  methods: mapActions('tweets', [
    'create'
  ]),
  created() {
    this.$store.dispatch('tweets/list')
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container { 
  display: flex;
  position: relative;
}
.vertical-center {
  height: fit-content;
}
</style>
